.tabelnav table {
    margin:auto;
    width:600px;
}
.tabelnav table, .tabelnav table tr,  .tabelnav table tr td{
    outline:1px solid #000;
    outline-offset:-1px;
}
.tabelnav table tr td{
    text-align: center;
}

body {
    background-color: #cbdf71;
}

.square {
    width:300px;
    height:300px;
    background-color: #000000;
    -webkit-animation: mymove2 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}

@-webkit-keyframes mymove {
    0% {transform: rotate(-90deg);background-color: #000}
    50% {transform: rotate(90deg);background-color: #FFF}
	100% {transform: rotate(-90deg);background-color: #000}
}

@keyframes mymove {
    0% {transform: rotate(-90deg);background-color: #000}
    50% {transform: rotate(90deg);background-color: #FFF}
	100% {transform: rotate(-90deg);background-color: #000}
}