.tabelnav table {
    margin:auto;
    width:600px;
}
.tabelnav table, .tabelnav table tr,  .tabelnav table tr td{
    outline:1px solid #000;
    outline-offset:-1px;
}
.tabelnav table tr td{
    text-align: center;
}

body {
    background-color: #cbdf71;
}

.square {
    width:300px;
    height:300px;
    background-color: #000000;
    -webkit-animation: mymove2 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}
.nav {
    margin:auto;
    text-align:center;
}
.nav ul{
    list-style-type: none;
    display:inline-block;
    margin:auto;
    padding:0;
}

.nav li {
    float:left;
    border:1px solid #fff;
    background-color:rgb(178, 252, 168);
    padding-top:20px;
    padding-bottom:20px;  
    width:100px;
}

.nav a {
    color:white;
    text-decoration: none;
}
@-webkit-keyframes mymove {
    0% {transform: rotate(0deg);background-color: white;width: 100px;height:100px;}
    50% {transform: rotate(360deg);background-color: red;width: 300px;height:300px;}
    100% {transform: rotate(360deg);background-color: blue;width: 100px;height:100px;}
}

@keyframes mymove {
    0% {transform: rotate(0deg);background-color: white;width: 100px;height:100px;}
    50% {transform: rotate(180deg);background-color: red;width: 300px;height:300px;}
    100% {transform: rotate(360deg);background-color: blue;width: 100px;height:100px;}
}
